[submodule "pages/usage-stats"]
	path = pages/usage-stats
	url = https://github.com/SJTUMalPan/dsh-usage-stats.git
[submodule "pages/notify-hub"]
	path = pages/notify-hub
	url = https://github.com/SJTUMalPan/notify-hub.git
